<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:fragment="header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Kline Console</title>

    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">


    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link th:href="@{/css/nifty.min.css}" rel="stylesheet">

    <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon"/>

    <!--=================================================-->

    <!--Morris.js [ OPTIONAL ]-->
    <link th:href="@{/css/themes/type-d/theme-navy.min.css}" rel="stylesheet">

</head>

