<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{header.html :: header}"></div>
<body>
<div id="container" class="effect aside-float aside-bright mainnav-out slide">

    <div class="boxed">

        <!--CONTENT CONTAINER-->
        <!--===================================================-->
        <div id="content-container">
            <div id="page-head">
                <div class="text-center">
                    <h3>首页</h3>
                </div>
            </div>

            <!--Page content-->
            <!--===================================================-->
            <div id="page-content">

                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="panel">
                            <div class="panel-body">
                                <p class="text-main text-semibold">说明</p>
                                <p>
                                    系统要完成以下几个功能:
                                </p>
                                <ul>
                                    <li>列出所有账号的NFT: <a th:href="@{/accounts}">点击我</a></li>
                                    <li>测试合约执行: <a th:href="@{/greeter/index}">点击我</a></li>
                                    <li>指定给某个用户A生成NFT(mint): 待完成</li>
                                    <li>某个用户A给用户B转送NFT(mint): 待完成</li>
                                    <li>NFT更新: 待完成</li>
                                </ul>
                                <p>
                                    注意：如果有新的链接，就直接在上面修改。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--===================================================-->
            <!--End page content-->

        </div>
        <!--===================================================-->
        <!--END CONTENT CONTAINER-->
    </div>


</div>
<div th:replace="~{footer.html :: footer}"></div>
<!--===================================================-->

<!--Custom script [ DEMONSTRATION ]-->
<!--===================================================-->
<script>
    $(document).ready(function () {


    });
</script>

</body>
</html>
